.history/
__pycache__/

springfield
terratec/
test_imgs/
boundary-iou-api/
build/*
outputs/*
.vscode/*
data/*
**/*.DS_Store
exp/*
**/pretrained_models/*
**/*.egg-info

**/*.pyc
**/*.so

pickled_annotations.pkl
scripts/prediction_cluster.py
scripts/prediction_cluster_plot.py
config-test.py

terraoutputs/
dataset2018
mounts/
